.sideBar
  .sideBar__upper
    .sideBar__upper__user
      .sideBar__upper__user__name
        masa
      .sideBar__upper__user__menu
        = link_to '#' do
          = icon('fa', 'edit', class:'sideBar__upper__user__menu--icon')
          %span<>
        = link_to '#' do
          = icon('fa', 'cog', class:'sideBar__upper__user__menu--icon')
          %span<>
  .sideBar__lower
    .sideBar__lower__group
      .sideBar__lower__group__name
        g1
      .sideBar__lower__group__newMessage
        m1
      .sideBar__lower__group__name
        g2
      .sideBar__lower__group__newMessage
        m2
      .sideBar__lower__group__name
        g3
      .sideBar__lower__group__newMessage
        m3
      .sideBar__lower__group__name
        g4
      .sideBar__lower__group__newMessage
        m4